# Ativa o motor de reescrita
RewriteEngine On

# Redireciona todas as requisições que não sejam para um arquivo ou diretório real
# para o public/index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

# Configurações de PHP
<IfModule mod_php8.so>
    php_flag session.cookie_httponly on
</IfModule>